#daily {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  #total {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding);
    gap: 1rem;
    position: relative;

    #monthly-button {
      position: absolute;
      top: 1.5rem;
      right: var(--padding);
      width: 2.5rem;
      height: 2.5rem;
      background-color: unset;
      border: 1px solid rgba(0, 0, 0, 0.055);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      transition: ease-in-out 100ms border;

      &:hover {
        background-color: rgba(0, 0, 0, 0.01);
      }

      &:active {
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.025);
      }

      img {
        width: 4rem;
        transition: ease-in-out 80ms all;
      }
    }

    #total-balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      margin-top: 1.5rem;

      h2 {
        font-size: 2.75rem;
      }

      p {
        font-size: 1rem;
        opacity: 0.75;

        span {
          font-weight: 700;
        }
      }
    }

    #chart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      #top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        font-size: 0.85rem;
        margin-bottom: 1rem;

        span {
          font-weight: 600;
          opacity: 0.85;
        }

        #currency-converter {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;

          p {
            font-weight: 600;
          }
        }
      }

      #plot {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          margin: auto;

          &:last-child {
            --width: 0%;
            width: 89%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: fill-slider 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms forwards;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

            @keyframes fill-slider {
              to {
                clip-path: polygon(0 0, var(--width) 0, var(--width) 100%, 0% 100%);
              }
            }
          }
        }
      }

      #bottom {
        margin-top: 0.75rem;
        font-weight: 800;
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
      }
    }
  }

  #monthly-stats {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding);
    padding-bottom: 1rem;
    gap: 2rem;

    article {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #monthly-balance {
        h3 {
          font-weight: 700;
          font-size: 1.4rem;
        }

        p {
          opacity: 0.7;

          span {
            font-weight: 700;
          }
        }
      }

      #info {
        max-width: 180px;
        font-size: 0.8rem;
        width: fit-content;
      }
    }

    #stats {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}
