#enroll {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: 7fr 4fr;
  padding: var(--padding);
  padding-top: 0;

  #illustration {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      transform: scale(1.2);
    }
  }

  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 1.25rem;
    }

    p {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 161%;
      opacity: 0.75;
      width: 100%;
      max-width: 90%;
      min-width: 100px;
      margin-bottom: 1.25rem;
    }

    button {
      background-color: var(--accent-color);
      border: none;
      padding: 0.5rem 3rem;
      border-radius: 9999px;
      font-weight: 900;
      margin-left: -2px;
      cursor: pointer;
    }
  }
}
