#drawer {
  position: absolute;
  inset: 0;
  pointer-events: none;

  #overlay {
    position: absolute;
    inset: 0;
    transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) background-color;
    background-color: rgba(0 0 0 / 0);
    z-index: 1;
  }

  #backdrop,
  #menu {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-100%);
  }

  #menu {
    z-index: 3;
    transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    header {
      width: 100%;
      height: 4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: var(--padding);

      img#menu-name {
        width: 150px;
        margin-bottom: -4px;
        transform: translateX(150%); //translateX(186%);
        transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all;
      }

      img#menu-close {
        opacity: 0;
        transition: 100ms ease all;
        margin-right: 0.85rem;
        cursor: pointer;
      }
    }

    #menu-content {
      flex-grow: 1;
      text-align: center;
      padding: 0 var(--padding);

      #author {
        margin-top: 1.5rem;
        width: 100%;

        img {
          width: 45%;
          border-radius: 50%;
          margin-bottom: 0.5rem;
          object-fit: cover;
        }

        #author-content {
          h2 {
            width: fit-content;
            margin: auto;
          }
        }
      }

      #links {
        margin-top: 2rem;
        width: 100%;
        text-align: start;

        .separator {
          width: 10%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.151);
          margin: 1rem 0;
        }

        .menu-link {
          cursor: pointer;
          margin: 0.5rem 0;
          font-weight: 500;
          font-size: 1rem;
          display: flex;
          align-items: center;

          &::before {
            content: ".";
            overflow: hidden;
            background: var(--accent-color);
            color: var(--accent-color);
            height: 100%;
            width: 0;
            transition: 300ms ease all;
            margin-right: 0;
            border-radius: 999px;
            opacity: 0;
          }

          &:hover::before {
            opacity: 1;
            width: 3px;
            margin-right: 5px;
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      padding: 0 1rem;

      #kofi {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.25rem;
        padding-right: 0.5rem;
        border-radius: 10px;
        transition: ease 175ms all;
        background-color: #fcfcfc;
        cursor: pointer;

        img {
          width: 5.5rem;
        }

        #kofi-content {
          h4 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            opacity: 0.9;
          }

          p {
            opacity: 0.65;
            line-height: 1.05rem;
          }
        }

        &:hover {
          transform: translateY(-5px);
          background-color: #fbfbfb;
        }
      }

      & > span {
        font-weight: 500;
        opacity: 0.75;
      }
    }
  }

  #backdrop {
    background-color: rgba(20 20 20);
    transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all 50ms;
    z-index: 2;
  }

  &.active {
    pointer-events: all;

    #overlay {
      background-color: rgba(0 0 0 / 0.7);
    }

    #backdrop,
    #menu {
      transform: translateX(0);
    }

    #backdrop {
      transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all;
    }

    #menu {
      transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all 50ms;

      header {
        img#menu-name {
          transition: 400ms cubic-bezier(0.71, 0, 0.22, 0.99) all 50ms;
          transform: translateX(0);
        }

        img#menu-close {
          opacity: 1;
          transition: 250ms cubic-bezier(0.71, 0, 0.22, 0.99) all 450ms;
        }
      }
    }
  }
}
