.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value {
    cursor: pointer;
    font-weight: 700;
  }

  img {
    cursor: pointer;
    width: 15px;
    transition: var(--transition-duration) ease filter;
    filter: var(--filter);
  }

  .options {
    top: calc(100% + 5px);
    left: -12px;
    position: absolute;
    background-color: var(--background-color);
    z-index: 2;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.2rem;
    padding-top: 0.3rem;
    user-select: none;
    border-radius: 7.5px;
    border: 1px solid var(--emphasize-4);
    box-shadow: 0px 0.8px 1.9px rgba(0, 0, 0, 0.018), 0px 1.8px 4.3px rgba(0, 0, 0, 0.026), 0px 3.2px 7.7px rgba(0, 0, 0, 0.032),
      0px 5.3px 12.8px rgba(0, 0, 0, 0.038), 0px 8.7px 21.2px rgba(0, 0, 0, 0.044), 0px 15.3px 37px rgba(0, 0, 0, 0.052),
      0px 33px 80px rgba(0, 0, 0, 0.07);
    height: 300px;
    overflow-y: overlay;

    @supports (scrollbar-width: thin) and (not (overflow: overlay)) {
      overflow-y: auto;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 10px;
    }

    opacity: 0;
    transform: translateY(10px);
    transition: ease 150ms all;
    pointer-events: none;

    &.visible {
      pointer-events: all;
      opacity: 1;
      transform: translateY(0);
    }

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      transition: ease 150ms all;
      padding: 3px 0;
      font-weight: 500;
      opacity: 0.75;

      &:hover {
        background-color: var(--emphasize-3);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
