.separator-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.25rem 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--emphasize-2);
    height: 0.5px;
    z-index: -1;
    transition: var(--transition-duration) ease background-color;
  }

  .separator-inner {
    background-color: var(--background-color);
    padding: 0 0.75rem;
    font-weight: 800;
    font-size: 0.85rem;
    color: var(--primary-color);
    opacity: 0.9;
  }
}
