@import "./views/Login.scss";
@import "./views/Enroll.scss";
@import "./views/Daily.scss";
@import "./views/Monthly.scss";

@import "./components/Separator.scss";
@import "./components/MonthlyReportLine.scss";
@import "./components/StatLine.scss";
@import "./components/Select.scss";

@import "./Template.scss";
@import "./Loader.scss";
@import "./Keyframes.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

::selection {
  background-color: #fffac8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
  margin-bottom: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.212);
  border-radius: 999px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

:root {
  --accent-color: #ffd119;
  --padding: 2rem;
}

img {
  width: 2rem;
}

a {
  text-decoration: none;
  color: initial;
  font-weight: 500;
}

html {
  min-width: 400px;
  height: 600px;
  font-size: 14.5px;
}

body {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  #root {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
}
