:root {
  --background-color: rgb(255, 255, 255);
  --primary-color: #000;
  --dark-accent-color: #e4810f;
  --accent-color: #ffd119;
  --padding: 2rem;
  --emphasize-1: #c9c9c9;
  --emphasize-2: #f2f2f2;
  --emphasize-3: #fdfdfd;
  --emphasize-4: #fdfdfd;
  --selection-color: #fffac8;
}
