body {
  --transition-duration: 175ms;

  --background-color: rgb(255, 255, 255);
  --border-color: #fff;
  --menu-backdrop-bg: #222222;
  --primary-color: #000;
  --dark-accent-color: #e4810f;
  --accent-color: #ffd119;
  --padding: 2rem;
  --kofi-bg: #fbfbfb;
  --kofi-bg-hover: #fcfcfc;
  --emphasize-1: #cbcbcb;
  --emphasize-2: #f2f2f2;
  --emphasize-3: #fafafa;
  --emphasize-4: #fdfdfd;
  --selection-color: #fffac8;
  --filter: invert(0);
  --slider-opacity: 1;
}

body.dark {
  --background-color: rgb(21, 18, 18);
  --border-color: rgb(30, 30, 30);
  --menu-backdrop-bg: rgb(40, 40, 40);
  --primary-color: rgb(230, 230, 230);
  --dark-accent-color: #e4810f;
  --accent-color: #ffd119;
  --padding: 2rem;
  --kofi-bg: #191919;
  --kofi-bg-hover: #212121;
  --emphasize-1: #323232;
  --emphasize-2: #303030;
  --emphasize-3: #191919;
  --emphasize-4: #181818;
  --selection-color: #3e3e3e;
  --filter: invert(1);
  --slider-opacity: 0.1;
}
